<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @recette.nom %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recette.ingredients %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @recette.photo %>
</p>

<%= link_to 'Edit', edit_recette_path(@recette) %> |
<%= link_to 'Back', recettes_path %>
